doctype html
html(lang='en')
  head
    title Request Submitted.
  body
    h1 Thank you for reaching out us.
    #container.col
      p !{name}
      p !{message}
      p
        | Jade is a terse and simple
        | templating language with a
        | strong focus on performance
        | and powerful features.
